.article-title{    
    padding-top: 160px;
    .title{
        font-weight: 800;
        font-size: 5em;
        line-height: 1em;        
        margin: 0;
        padding-bottom: 20px;
    }
    .title-three{
        color: #d5333e !important;
    }
}
    
@media screen and (max-width: 991px) {
    .article-title{         
        .title{
            font-size: 3em;
        }
        .title-three{
            color: #d5333e !important;
        }
    }
}