.cat-item{
    min-height: 468px;    
    position: relative;
    overflow: hidden;
    animation-delay: 0.235131s;
    animation-duration: 2s;        
    .title{
        position: absolute;        
        z-index: 200;
        h5{
            font-weight: bold;
            color: #fff;
            font-size: 30px;
            padding-left: 30px;
            margin: 0;
        }
        p{
            color: #fff;
            padding-left: 30px;
        }
    }
    img{
        width: 100%;
        transition: transform 1.25s,opacity 2.5s;
        backface-visibility: visible;
        height: 100%;        
    }    
}
.cat-item:hover{
    img{
        transform: scale3d(1.1,1.1,1.1);
        opacity: .85;
    }
}
.Singapore{
    grid-column: span 2;
}
.League{
    grid-column: span 2;
}
.FastFast{
    grid-column: span 2;
}
.Charles{
    grid-column: span 2;
}
.FairPrice{
    grid-column: span 2;
}
.reward{
    grid-column: span 2;
}

@media screen and (max-width: 600px) {
    .cat-item{
        min-height: 300px;  
    }
}
