.section-categories{    
    width: 100%;
    min-height: 50vh;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-flow: row dense;
}
@media screen and (max-width: 991px) {
    .section-categories{    
        width: 100%;
        min-height: 50vh;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-auto-flow: row dense;
    }
}

@media screen and (max-width: 600px) {
    .section-categories{    
        width: 100%;
        min-height: 50vh;
        display: grid;
        grid-template-columns: 100%;
        grid-auto-flow: row dense;
    }
}