.section-categories{    
    // display: grid;
    // grid-template-columns: auto auto auto auto;
    // grid-gap: 10px;
    // background-color: transparent;
    // padding: 10px;
    // grid-auto-flow:row dense;

    width: 100%;
    min-height: 50vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 25% 25% 25%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-flow: row dense;
}