.footer{
    padding: 70px 0 30px;
    .title{
        margin-bottom: 60px;
        font-weight: 800;
        font-size: 3em;
        color: #d5333e;
        text-align: center;
    }
    .step-layout{
        display: flex;
        justify-content: space-between;
        margin-bottom: 65px;
        .step-item{
            height: 100px;
            float: left;
            padding: 20px 25px;
            cursor: pointer;            
            .item-title{
                font-weight: 800;
                font-size: 1.4em;
                margin: 0 0 10px 0;
            }
        }
    }
    .social-info{
        display: flex;
        justify-content: center;
        a{
            margin-right: 40px;
            width: '20%';
            img{
                width: 23px;
                height: 18px;
            }
        }
    }
    .address{
        p{
            text-align: center;
        }
    }        
}